@media all and (max-width: 499.9px){
    .wrap{ width: 100%; }
    header, section, footer{ width: 100%; position: relative; }

    /* header */
    header{
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 3px 3px #aaa;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
    }

    .pc_menu, .pc_hidden_menu{ display: none; }

    .menu_wrap{ 
        width: 95%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .logo_box{width: 70%;}
    .logo{ height: 20px; margin: 0 auto;}
    .tab_ham{ width: 30%; }
    .tab_ham>img.ham{ height: 20px; cursor: pointer; }
    
    .lang_box{
        width: 30%;
        height: 100%;
        font-size: 0.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* hidden menu */

    .tab_menu{
        width: 100%;
        height: 300px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #aaa;
        display: none;
        position: relative;
    }
    
    .tab_menu_box{
        width: 95%;
        margin: 0 auto;
    }
    
    .tab_main_menu{
        width: 30%;
        height: 300px;
        float: left;
    }
    
    .tab_main_li{
        width: 100%;
        height: 14.2857%;
        font-size: 0.78em;
    }
    
    .tab_sub_menu{
        width: 70%;
        height: 300px;
        float: left;
    }
    
    .tab_sub_li{
        width: 100%;
        height: 14.2857%;
    }
    
    .tab_sub_li>p{
        width: 33.3333%;
        height: 50%;
        float: left;
        font-size: 0.6rem;
    }
    
    .tab_sub_li>p>a{
        display: flex;
        align-items: baseline;
    }
    
    .tab_main_2, .tab_sub_2{ height: 28.5714%; }
    
    /* left_go */

    .left_go{
        width: 30px;
        height: 65vh;
        position: fixed;
        top: 15vh;
        left: 30px;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left_go_list{
        width: 100%;
        height: 90px;
        font-size: 1.3rem;
        color: #aaa;
        position: relative;
        cursor: pointer;
    }

    .left_go_list::before{
        content: '';
        width: 5px;
        height: 50px;
        background-color: #aaa;
        position: absolute;
        left: -10px;
        top: 10px;
    }

    .left_go_list::after{
        content: '';
        width: 5px;
        height: 50px;
        position: absolute;
        left: -5px;
        top: 10px;
    }

    .go_orion{ color: #e3051a; }
    .go_orion::before{ background-color: #e3051a; }
    .go_choco{ color: #8b4222; }
    .go_choco::before{ background-color: #8b4222; }
    .go_market{ color: #639d2f; }
    .go_market::before{ background-color: #639d2f; }
    .go_doctor{ color: #42080b; }
    .go_doctor::before{ background-color: #42080b; }
    .go_jeju{ color: #37b3ca; }
    .go_jeju::before{ background-color: #37b3ca; }

    .go_detail{display: none;}

    /* text_box 공통사항 */
    .text_box{
        width: 80% !important;
        position: absolute;
        left: 15.8333%;
        margin-left: 3%;
    }

    .little_title{font-size: 0.75rem; line-height: 0.3rem; }
    .title{ font-size: 2.0rem; font-weight: 900; }
    .detail{ font-size: 0.9rem; margin: 10px 0 15px 0; font-weight: 600; }
    .moreTo{ font-size: 0.75rem; } 
    
    /* section_1 : Orion */
    .sec_1>div.bg_box{
        width: 100%;
        height: 100%;
        background-image: url(../img/tab/orionCompany.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right bottom;

        position: absolute;
        left: 0;
        right: 0;
    }

    .t_box_1{
        color: #e3051a;
        top: 25%;
    }
    .t_box_1 a{ color: #e3051a; }

    /* section_2 : chocopie house */
    .sec_2>div.bg_box{
        width: 100%;
        height: 100%;
        background-image: url(../img/tab/ChocopieHouse.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: left bottom;

        position: absolute;
        left: 0;
        right: 0;
    }

    .t_box_2{
        margin-left: 5%;
        text-align: right;
        color: #8b4222;
        top: 30%;
        left: 10%;
    }
    .t_box_2 a{ color: #8b4222; }

    /* section_3 : market O */
    .sec_3>div.bg_box{
        width: 100%;
        height: 100%;
        background-image: url(../img/tab/MarketO.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right bottom;

        position: absolute;
        left: 0;
        right: 0;
    }

    .t_box_3{
        color: #639d2f;
        top: 30%;
    }
    .t_box_3 a{ color: #639d2f; }

    /* section_4 : Dr.You */
    .sec_4>div.bg_box{
        width: 100%;
        height: 100%;
        background-image: url(../img/tab/Dr.You.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right bottom;
        position: absolute;
        left: 0;
        right: 0;
    }

    .t_box_4{
        text-align: left;
        color: #42080b;
        top: 30%;
    }
    .t_box_4 a{ color: #42080b; }

    /* section_5 : Jeju Yongamsoo */
    .sec_5>div.bg_box{
        width: 100%;
        height: 100%;
        background-image: url(../img/tab/JejuYongAmsoo.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right bottom;

        position: absolute;
        left: 0;
        right: 0;
    }

    .t_box_5{
        color: #37b3ca;
        top: 30%;
    }
    .t_box_5 a{ color: #37b3ca; }

    /* footer */
    footer{
        width: 100%;
        height: 140px;
        color: #333;
        background-color: #ccc;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 9;
    }

    .site_map a{ color: #333;}
    .site_map{
        margin-bottom: 10px;
        font-size: 0.7rem;
        font-weight: 800;
    }

    .addr{ width: 262.64px; margin: 0 auto; font-size: 0.3rem; margin-bottom: 10px; }
    .copy{ font-size: 0.2rem; }
}